@page
@model Farkas_Szabolcs_ProiectExamen.Pages.Produse.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Produs.ID" />
            <div class="form-group">
                <label asp-for="Produs.Denumire" class="control-label"></label>
                <input asp-for="Produs.Denumire" class="form-control" />
                <span asp-validation-for="Produs.Denumire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.Descriere" class="control-label"></label>
                <input asp-for="Produs.Descriere" class="form-control" />
                <span asp-validation-for="Produs.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.Origine" class="control-label"></label>
                <input asp-for="Produs.Origine" class="form-control" />
                <span asp-validation-for="Produs.Origine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.Price" class="control-label"></label>
                <input asp-for="Produs.Price" class="form-control" />
                <span asp-validation-for="Produs.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.Pret" class="control-label"></label>
                <input asp-for="Produs.Pret" class="form-control" />
                <span asp-validation-for="Produs.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.NrBuc" class="control-label"></label>
                <input asp-for="Produs.NrBuc" class="form-control" />
                <span asp-validation-for="Produs.NrBuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.Valabilitate" class="control-label"></label>
                <input asp-for="Produs.Valabilitate" class="form-control" />
                <span asp-validation-for="Produs.Valabilitate" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Produs.ProducatorID" class="control-label">Producatorul</label>
                <select asp-for="Produs.ProducatorID" class="form-control" asp-items="ViewBag.ProducatorID">
                </select>
                <span asp-validation-for="Produs.ProducatorID" class="text-danger"></span>
            </div>
            
            <div class="form-group">
               <div class="table">
                 <table>
                   <tr>
                     @{
                       int cnt = 0;
                         foreach (var cat in Model.AssignedCategorieDataList)
                           {
                              if (cnt++ % 3 == 0)
                              {
                                 @:</tr><tr>
                              }
                              @:<td>
                                <input type="checkbox"
                                   name="selectedCategorii"
                                   value="@cat.CategorieID"
                                   @(Html.Raw(cat.Assigned ? 
                                   "checked=\"checked\"" : "")) />
                                @cat.CategorieID @: @cat.Nume
                              @:</td>
                           }
                   @:</tr>
                   }
                 </table>
               </div>
            </div>
            <div class="form-group">
                <label asp-for="Produs.MagazinID" class="control-label">Disponibil la magazinul</label>
                <select asp-for="Produs.MagazinID" class="form-control" asp-items="ViewBag.MagazinID">
                </select>
                <span asp-validation-for="Produs.MagazinID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
