@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Bine ati venit la magazinele Lidl din Zalau!</h1>
    <img src="~/images/lidl.jpg" />
</div>